<button class={{theclass}} data-toggle="modal" data-target=".impressums-modal">
  Impressum
</button>

<div class="modal fade impressums-modal" id="impressums-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content impressum">
        <div class="modal-body text-left">
          <div class="text-right larger" style="cursor: pointer" data-dismiss="modal">
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          {{thecontent}}
        </div>
      </div>
  </div>
</div>
