<section id="product" name="product">
  <div class="productTable">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <img class="Dia" src="assets/dia_skaliert.png" alt="assets/dia_skaliert.png">
        <div class="productName">Dia-Scan</div>
        <div class="productText">
          <p>Wir scannen Ihre<br>Diabilder direkt<br>aus dem Magazin</p>
        </div>
        <button class="btn btn-default btnDetails" type="button" data-toggle="modal" data-target="#detail-modal">Details</button><br>
        <button class="btn btn-default btnPrice" type="button" data-toggle="modal" data-target="#price-modal">Preise</button><br>
      </div>
      <div class="col-sm-4 col-xs-12">
        <img class="norImg" src="assets/vhs.png" alt="vhs">
        <div class="productName">VHS</div>
        <div class="productText">
          <p>der bekannteste Typ<br>Breite: 18.7cm<br>Tiefe: 10.3cm<br>Dicke: 2.5cm PAL-, NTSC-<br>&amp; SECAM-Modus</p>
        </div>
        <button class="btn btn-default btnDetails" type="button" data-toggle="modal" data-target="#detail-modal">Details</button><br>
        <button class="btn btn-default btnPrice" type="button" data-toggle="modal" data-target="#price-modal">Preise</button><br>
      </div>
      <div class="col-sm-4 col-xs-12">
        <img class="norImg" src="assets/vhsc.png" alt="vhsc">
        <div class="productName">VHS-C</div>
        <div class="productText">
          <p>von Camcordern verwendet<br>Breite: 9cm<br>Tiefe: 5.8cm<br>Dicke: 2.2cm</p>
        </div>
        <button class="btn btn-default btnDetails" type="button" data-toggle="modal" data-target="#detail-modal">Details</button><br>
        <button class="btn btn-default btnPrice" type="button" data-toggle="modal" data-target="#price-modal">Preise</button><br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4  col-xs-12">
        <img class="norImg" src="assets/video8.png" alt="video8">
        <div class="productName">Video8 / Hi8</div>
        <div class="productText">
          <p>von Sony Camcordern verwendet<br>Breite: 9.4cm<br>Tiefe: 6.2cm<br>Dicke: 1.5cm<br>Video8 &amp; Hi8</p>
        </div>
        <button class="btn btn-default btnDetails" type="button" data-toggle="modal" data-target="#detail-modal">Details</button><br>
        <button class="btn btn-default btnPrice" type="button" data-toggle="modal" data-target="#price-modal">Preise</button><br>
      </div>
      <div class="col-sm-4 col-xs-12">
        <img class="norImg" src="assets/mididv_skaliert.png" alt="mididv_skaliert">
        <div class="productName">miniDV</div>
        <div class="productText">
          <p>der modernste Typ<br>Breite: 6.6cm<br>Tiefe: 4.8cm<br>Dicke: 1.2cm</p>
        </div>
        <button class="btn btn-default btnDetails" type="button" data-toggle="modal" data-target="#detail-modal">Details</button><br>
        <button class="btn btn-default btnPrice" type="button" data-toggle="modal" data-target="#price-modal">Preise</button><br>
      </div>
      <div class="col-sm-4 col-xs-12">
        <img class="norImg larger" src="assets/cdKassette.png" alt="cdKassette">
        <div class="productName">Audio-Kassette / CD</div>
        <div class="productText">
          <p>Ob Audio- Kassetten oder CD<br>wir sind der richtige Ansprechspartner<br>zum Digitalisieren Ihrer Medien</p>
        </div>
        <button class="btn btn-default btnDetails" type="button" data-toggle="modal" data-target="#detail-modal">Details</button><br>
        <button class="btn btn-default btnPrice" type="button" data-toggle="modal" data-target="#price-modal">Preise</button><br>
      </div>

    </div>
  </div>
</section>

<div class="modal fade detail-modal" id="detail-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="details">
      <div class="modal-body">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>

        <div class="logoNeg">
          <img src="assets/logo_negskaliert2.png" alt="logo">
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <!-- if (dia)-->
            <img class="productImgDetail" src="assets/dia_skaliert.png.png" alt="dia">
            <div class="pricesName">Alte Dias Digital auf DVD oder Stick</div>
            <div class="pricesText">
              <p>Hier fehlt noch etwas Text über Dias</p>
            </div>

            <!-- if (VHS)-->
            <img class="productImgDetail" src="assets/vhs.png" alt="VHS">
            <div class="pricesName">VHS Kassetten</div>
            <div class="pricesText">
              <p>Dies ist der bekannteste Kassettentyp.<br>Die allermeisten Filme wurden auf solchen Kassetten verkauft. Auch den verbesserten Standard S-VHS können wir verarbeiten. Die Video-Norm spielt bei diesem Kassettentyp auch keine Rolle. D.h. es
                ist egal, ob die Kassette im PAL-, NTSC- oder SECAM-Modus aufgenommen wurde.</p>
            </div>

            <!-- if (vhsc)-->
            <img class="productImgDetail" src="assets/vhsc.png" alt="vhsc">
            <div class="pricesName">VHS-C Kassetten</div>
            <div class="pricesText">
              <p>Die VHS-C Kassette ist der kleine Bruder der normalen VHS Kassette und wurde vorallem in Camcordern eingesetzt. Für diese Kassette gelten die gleichen Bedingungen wie für die standard VHS Kassetten.</p>
            </div>

            <!-- if (Video8)-->
            <img class="productImgDetail" src="assets/video8.png" alt="Video8">
            <div class="pricesName">Video8 / Hi8 Kassetten</div>
            <div class="pricesText">
              <p>Dieser Kassettentyp wurde vorallem von Sony Camcordern verwendet. Die beiden Standards Video8 und Hi8 können von uns verarbeitet werden.<br>Bei diesem Kassettentyp können wir jedoch das seltene NTSC nicht verarbeiten. Falls der Camcorder,
                mit dem Ihre Kassette bespielt wurde, in den USA gekauft wurde, nehmen Sie bitte mit uns Kontakt auf.</p>
            </div>

            <!-- if (miniDV)-->
            <img class="productImgDetail" src="assets/mididv_skaliert.png" alt="assets/dia_skaliert.png.png">
            <div class="pricesName">miniDV Kassetten</div>
            <div class="pricesText">
              <p>Dies ist der modernste und mit abstand kleinste Kassettentyp. Es werden auch heute noch Camcorder verkauft, die auf solche Kassetten aufzeichnen.</p>
            </div>

            <!-- if (Kassetten)-->
            <img class="productImgDetail" src="assets/cdKassette.png" alt="Kassetten">
            <div class="pricesName">Audio Kassetten</div>
            <div class="pricesText">
              <p>Hier fehlt noch Text</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade detail-modal" id="price-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="prices">
      <div class="modal-body">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>

        <div class="logoNeg">
          <img src="assets/{{get (get-element 470) 'filepath'}}" alt="assets/{{get (get-element 470) 'filepath'}}">
        </div>

        <div class="row">
          <div class="col-xs-12 text-center">
            <!-- if (pricing dia)-->
            <img class="productImgDetail" src="assets/dia_skaliert.png" alt="dia">
            <div class="pricesName">Preise und Bestellung</div>
            <div class="pricesText">
              <p>Die alten Dias auf DVD oder Stick erhalten</p>
            </div>

            <!-- if (pricing VHS)-->
            <img class="productImgDetail" src="assets/vhs.png" alt="VHS">
            <div class="pricesName">Preise und Bestellung</div>
            <div class="pricesText">
              <p>Die alten Kassetten auf DVD oder Stick digitalisieren</p>
            </div>

            <!-- if (pricing vhsc)-->
            <img class="productImgDetail" src="assets/vhsc.png" alt="vhsc">
            <div class="pricesName">Preise und Bestellung</div>
            <div class="pricesText">
              <p>Die alten VHS-C Kassetten auf DVD oder Stick digitalisieren</p>
            </div>

            <!-- if (pricing video8)-->
            <img class="productImgDetail" src="assets/video8.png" alt="video8">
            <div class="pricesName">Preise und Bestellung</div>
            <div class="pricesText">
              <p>Video8 / Hi8 Kassetten auf DVD oder Stick digitalisieren</p>
            </div>

            <!-- if (pricing miniDV)-->
            <img class="productImgDetail" src="assets/mididv_skaliert.png" alt="miniDV">
            <div class="pricesName">Preise und Bestellung</div>
            <div class="pricesText">
              <p>miniDV Kassetten auf DVD oder Stick digitalisieren</p>
            </div>

            <!-- if (pricing Kassetten)-->
            <img class="productImgDetail" src="assets/cdKassette.png" alt="Kassetten">
            <div class="pricesName">Preise und Bestellung</div>
            <div class="pricesText">
              <p>Hier fehlt noch Text</p>
            </div>


            <!-- add shop here? -->


            <div class="pricesContact">
              <h2 id="kontakt">Kontakt</h2>
              <p>birchler media gmbh | Eisenbahnstrasse 7 | 8840 Einsiedln</p>
              <p>Tel. <a href="tel:0345112500">034 511 25 00</a> | <a href="mailto:post@birchler-media.ch">post@birchler-media.ch</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
