<section id="header">
  <div class="logo">
    <img src="assets/logo_skaliert2.png" alt="Logo Birchler">
  </div>

  <div class="sale">
    <h1>10% Aktion</h1>
    <p>Quis dolo mint voluptaquo dici cullorro modis escia nonsequiam quia consequis sinveles</p>
  </div>

  <div class="introImage">
    <img src="assets/introImage.png" alt="VHS Birchler">
    <div class="arrowDown">
      <!-- add a "scroll to " function to id "product" -->
      <a class="arrowButton" href="">
        <img src="assets/button.png">
      </a>
    </div>
    <div class="intro">
      <p></p>
      <h1>Wir retten Ihre <span class="teal">ERINNERUNGEN</span> ins digitale Zeitalter!</h1>

      <h4>Ihre alten Vidokassetten oder Dias Digital oder auf DVD</h4>
      <p>
        <span class="teal">Ihr Hochzeitsvideo, Ihre Kinderfilme, Ihr Ferienvideo verstauben auf alten Videokassetten? Wir retten Ihre Erinnerungen. Auf einer DVD können Sie Ihre Filme ganz einfach wieder anschauen und sich, Freunden und Verwandten eine Freude bereiten. Dank der Erfahrung von Tausenden von Digitalisierungen sind wir ein erfahrener und kompetenter Partner.</span>
      </p>

    </div>
  </div>
</section>
