<section id="team">
  <div class="teamTable container-fluid">
    <h1>Unser Team</h1>
    <div class="row">
      <div class="col-sm-4 col-xs-12 teamdetails">
        <img src="assets/tv1_skaliert.png" alt="Manuela Wey">
        <div>
          <h3>Manuela Wey</h3></div>
        <div class="teamDesc">Manuela ist unsere Digitalfachfrau, kümmert sich um Ihre wertvollen Dias und holt das beste aus ihren alten Erinnerungen heraus.
        </div>
        <div class="Mail equalbot"><a href="mailto:manuela.wey@birchler-media.ch">manuela.wey@birchler-media.ch</a></div>
      </div>
      <div class="col-sm-4 col-xs-12 teamdetails">
        <img src="assets/tv2_skaliert.png" alt="Marco Birchler">
        <div>
          <h3>Marco Birchler</h3></div>
        <div class="teamDesc">Marco ist mit Leib und Seele Software- Ingenieur und Informatiker und deshalb zuständig für jegliche technische Einrichtungen im Büro. Auch bei komplexeren Kundenwünschen ist er die richtige Anlaufstelle.</div>
        <div class="Mail equalbot"><a href="mailto:marco.birchler@birchler-media.ch">marco.birchler@birchler-media.ch</a></div>
      </div>
      <div class="col-sm-4 col-xs-12 teamdetails">
        <img src="assets/tv3_skaliert.png" alt="Corina Birchler">
        <div>
          <h3>Corina Birchler</h3></div>
        <div class="teamDesc">Corina ist die Geschäftsführerin der birchler media gmbh seit 2013. Als Marketing-Expertin ist sie zuständing für die Werbung und die öffentliche Wahrnehmung. Wenn Not an der Frau ist, hilft sie auch gerne in der Auftragsabwicklung aus.</div>
        <div class="Mail equalbot"><a href="mailto:corina.birchler@birchler-media.ch">corina.birchler@birchler-media.ch</a></div>
      </div>
    </div>
  </div>
</section>
