<section id="contact">
  <div class="mapInput container-fluid">
    <div class="row">

      <div class="arrowUp">
        <!-- 'scrollTo' 'product' -->
        <a class="arrowButton" href="">
          <img src="assets/button.png">
        </a>
      </div>
      <div class="col-sm-6 col-xs-12">
        <!-- standard widget from google maps -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1141.2894404146016!2d8.745856397351064!3d47.1292720203327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ab344ae903d21%3A0x25215f6b72bd856c!2sEisenbahnstrasse+7%2C+8840+Einsiedeln%2C+Schweiz!5e0!3m2!1sde!2sat!4v1524322239230">
        </iframe>

        <div>
          <button class="btnImp" data-toggle="modal" data-target=".impressums-modal">
            Impressum
          </button>
          <div class="modal fade impressums-modal" id="impressums-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
              <div class="modal-content impressum">
                <div class="modal-body text-left">
                  <div class="text-right larger" style="cursor: pointer" data-dismiss="modal">
                    <button class="close" data-dismiss="modal" type="button">×</button>
                  </div>
                  <h1>Herausgeber</h1>
                  <p>birchler media gmbh | Eisenbahnstrasse 7 | 8840 Einsiedln<br>Konzept &amp; Design: <span onclick="location.href='http://www.einszueins-agentur.ch'" class="viphover" style="cursor: pointer">einszueins agentur GmbH</span><br>All rights
                    reserved.
                  </p>
                  <h1>Disclaimer</h1>
                  <p>Alle Inhalte sowie ihre Darstellung auf der Website von birchler-media.ch sind durch Urheberrechte geschützt. Teile der Website, insbesondere Bilder, Produktbezeichnungen und Firmennamen, sind durch die Urheberrechte von Dritten geschützt.
                    Für Links die auf Websites von Dritten führen übernehmen wir keinerlei Verantwortung und lehnen jede Haftung ab.</p>
                  <h1>Datenschutz</h1>
                  <p>Für Daten die uns elektronisch via Netz übertragen werden übernehmen wir keine Datensicherheit. Sie erfolgen ungeschützt über das Internet.</p>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="news">
          <h1>Neuigkeiten</h1>
          <div class="newsContent">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="contactInfo">
          <p></p>
          <h3>Unser Büro ist mitten in Einsiedeln<br>in der Nähe des Bahnhofs zu finden.<br>Parkplätze hat es vor dem Büro.</h3><br><span class="teal"><br>An der Eisenbahnstrasse 7 befindet sich das<br>Musikgeschäft der DreamSound AG. Unseren<br>Eingang finden Sie rechts hinten am Gebäude<br>oberhalb einer Metalltreppe<br></span>
          <p></p>

          <br>
          <h2>Kontakt</h2>
          <p>birchler media gmbh<br>Eisenbahnstrasse 7<br>8840 Einsiedln</p>
          <p>Tel. <a href="tel:0345112500">034 511 25 00</a></p>
          <p><a href="mailto:post@birchler-media.ch">post@birchler-media.ch</a></p>

          <br>
          <h2>Öffnungszeiten</h2>
          <p><span class="teal">MO</span> geschlossen<br><span class="teal">DI &amp; FR</span> 8.00 - 11.30 | 13.30 - 17.00<br><span class="teal">MI</span> 8.00 - 11.30<br><span class="teal">DO</span> 13.30 - 17.00</p>
        </div>
      </div>
    </div>
  </div>
</section>
