<section id="info" style="margin-bottom: -6px;">
  <div class="infoTable">
    <div class="row">
      <div class="col-xs-6 col-sm-6">
        <img class="leftA" src="assets/pfeil.png" alt="assets/pfeil.png">
      </div>
      <div class="col-xs-6 col-sm-6">
        <img class="rightA" src="assets/pfeil.png" alt="assets/pfeil.png">
      </div>
    </div>

    <!-- if (active FAQ) -->

    <div class="backgroundFAQ">
      <button type="button hidden-xs" class="close" aria-label="Close" {{action (mut showFAQ) false}}>
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="row">
        <div class="col-sm-6">
          <div class="btn-group-vertical">
            <button class="btn btnQ">Was passiert mit den Video-Kassetten?</button>
            <button class="btn btnQ">Mehrere Kassetten auf eine DVD?</button>
            <button class="btn btnQ">Gibt es noch Zuschläge?</button>
            <button class="btn btnQ">Welche Rohlinge werden verwendet?</button>
            <button class="btn btnQ">Dias Digitalisieren?</button>
            <button class="btn btnQ">Filmrollen digitalisieren?</button>
            <button class="btn btnQ">Wie ist die Qualität der Scans?</button>
            <button class="btn btnQ">Kann ich einen Probescan machen lassen?</button>
            <button class="btn btnQ">Was sind kompatible Magazine?</button>
            <button class="btn btnQ">Wie muss ich die Bilder liefern?</button>
          </div>
        </div>
        <div class="col-sm-6 visible-xs">
          <!-- if some question is visible -->
          <button type="button visible-xs" class="close" aria-label="Close" {{action (mut showFAQ) false}}>
              <span aria-hidden="true">&times;</span>
            </button>
          <!-- if end -->
        </div>
        <div class="col-sm-6 Answers">
          <!-- q1 -->
          <p>Sie können wählen, entweder wir schicken Ihnen Ihre Kassetten zusammen mit den DVDs zurück, oder wir behalten die Originale ca 3 Monate bei uns, bevor wir sie dann vernichten. Ihre Präferenz können Sie uns im Bestellformular angeben.</p>

          <!-- q2 -->
          <p>Bei uns werden nur 1:1 Kopien von einer Kassette gemacht, was heisst pro Kassette wird eine DVD verwendet.<br>Wenn Sie mehrere kurze Kassetten auf die gleiche DVD kopiert haben möchten oder ein Menü für die Auswahl der einzelnen Filmsequenzen
            wünschen, setzen Sie sich bitte mit uns in Verbindung. Wir möchten Sie jedoch darauf hinweisen, dass solche Schnittarbeiten einen ganz anderen Arbeitsablauf auf unserer Seite benötigen und wir deshalb unser Arbeitsaufwand mit Fr. 85.00 / Stunde
            in Rechnung stellen.</p>

          <!-- q3 -->
          <p>Nein!<br>Sie bezahlen nur die 29.-- Fr. an uns und das Porto an die Post. Im Gegensatz zu den meisten anderen Anbietern von Video-Digitaliserungen verlangen wir keine zusätzlichen Kosten pro Filmminute. Es gibt keinerlei versteckten Kosten.
            Auf einen DVD-Rohling passen 2 Stunden Film-Material in optimaler Qualität. Videos, welche länger als 2 Stunden dauern, werden wir deshalb auf zwei DVD‘s aufteilen. Der zweite Rohling kostet 5 Fr.<br>Wenn Sie noch zusätzliche Kopien der DVD
            möchten, können Sie diese für Fr. 10.-- gleich mitbestellen. </p>

          <!-- q4 -->
          <p>Um die Lebensdauer Ihrer Video-Erinnerungen zu maximieren, benutzen wir für die Erstellung der DVDs ausschliesslich die qualitativ besten und dadurch auch relativ teuren Rohlinge der Firma Taiyo Yuden. Dies deshalb, weil diese Rohlinge den höchsten
            Anforderungen gerecht werden. Diese Tatsache wurde bereits durch mehrere unabhängige Tests bestätigt.<br>Denn leider haben auch DVDs eine begrenzte Lebensdauer. An einigen Orten kann man von einer Lebensdauer von 50-100 Jahren lesen doch in
            Tat und Wahrheit wird dieser Wert wohl viel tiefer liegen. Es gibt einige Berichterstatter im Internet, die schreiben, dass ihre DVDs bereits nach 2-3 Jahren nicht mehr lesbar waren. Dies liegt wohl daran, dass diese sehr billige DVD-Rohlinge
            verwendet haben und die DVDs falsch gelagert haben.<br>Wir bitten Sie, die folgenden Punkte zur Lagerung und Handhabung der Medien unbedingt zu beachten:</p>

          <!-- q5 -->
          <p>Wir retten auch andere analoge Medien in‘s digitale Zeitalter.<br>Wir scannen Ihre Dia-Bilder und speichern diese auf DVD, USB-Stick, Fotorahmen oder in einer Online-Gallery. Für weitere Informationen besuchen Sie unsere Partnerseite unter dia-scan.ch.</p>

          <!-- q6 -->
          <p>Die ganz alten Filmrollen können wir leider nicht digitalisieren.<br>Wir haben aber einen Partner, welcher das für Sie erledigen kann. Kontaktieren Sie uns, wir geben Ihnen gerne seinen Namen weiter.</p>

          <!-- q7 -->
          <p>Wir scannen die Dias mit professionellen Diascannern der neusten Generation von Reflecta. </p>
          <p>Vor dem eigentlichen Scan reinigen wir die Bilder mit antistatischer Druckluft um Staubpartikel von den Bildern zu entfernen. Der Scannvorgang für ein einzelnes Diabild benötigt ca. 3-4 Minuten.</p>
          <p>Einige technische Angaben:</p>
          <p>Opt. Auflösung: 3600 X 3600 dpi<br>Farbtiefe: 48 bit<br>Lichtquelle: Filmschonende LED<br>Dichtumfang: 3,8 Dmax<br>Dateiformat: JPEG<br>Dateigrösse: ca. 2-4 MB</p>
          <p>Die Auflösung, mit der die Dias gescannt werden, entspricht etwa einer Digitalkamera mit 10 Megapixel. Damit Sie sich von der Qualität überzeugen können, nehmen Sie bitte unseren Service für einen kostenlosen Probescan in Anspruch.</p>

          <!-- q8 -->
          <p>Damit Sie sich von der Qualität unserer Scans überzeugen können, bieten wir Ihnen an, 3 Bilder kostenlos zu scannen. Insbesondere für grössere Aufträge empfehlen wir Ihnen unbedingt diesen Service in Anspruch zu nehmen. </p>
          <p>Senden Sie uns bis zu drei Diabilder in einem Umschlag an untenstehende Adresse. Bitte legen Sie auch einen zweiten vorfrankierten und an Sie adressierten Umschlag bei, damit wir Ihnen die Bilder zurücksenden können. Ein kleines Stück Karton
            im Umschlag verhindert, dass die Post die Bilder im Umschlag beschädigt.</p>
          <p>Ecommerce Birchler<br>Probescan<br>Eisenbahnstrasse 7<br>8840 Einsiedeln</p>

          <!-- q9 -->
          <p>Unsere Scanner verarbeiten die Diabilder direkt aus dem Magazin. Dadurch ist es uns möglich, unseren Service kostengünstig anzubieten. Die allermeisten Dia-Magazine sind mit unseren Scannern kompatibel - leider nicht ganz alle.</p>
          <p>Falls Ihre Diabilder in einem der folgenden Magazin-Typen einsortiert sind, können wir diese direkt verarbeiten. Andernfalls müssen wir Ihnen Fr. 8.00 für das Umsortieren von jeweils 50 Stück Diabilder verrechnen.</p>

          <!-- q10 -->
          <p>Sie senden oder bringen uns Ihre Diabilder. Wir scannen diese und erstellen daraus digitale Bilder im JPG-Format. Dies ist genau das gleiche Format, welches auch eine moderne Digitalkamera verwendet. Nach dem Scan packen wir die Bilder auf eine
            DVD oder einen USB-Stick und senden alles wieder an Sie zurück.</p>
          <p>Klicken Sie oben auf Bestellung. Es wird ein Assistent gestartet dem Sie Ihre Wünsche zu Ihrer Bestellung angeben können. Nach dem Sie den Assistenten vollständig ausgefüllt haben, wird für Sie eine Bestellnummer generiert. Lassen Sie uns nun
            bitte Ihre Diabilder zusammen mit der Bestellnummer zukommen. Wir erledigen Ihren Auftrag bestmöglich und senden Ihnen die Bilder zusammen mit einer Rechnung zurück. </p>

        </div>
      </div>
    </div>

    <!-- else -->

    <div class="row">
      <div class="col-xs-6 col-sm-6">
        <div class="arrowLeft">
        </div>
      </div>
      <div class="col-xs-6 col-sm-6">
        <div class="arrowRight">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <img class="stickImg" src="assets/stick_skaliert.png">
      </div>
      <div class="col-sm-6 col-xs-6">
        <img class="discImg" src="assets/disc_skaliert.png">
      </div>
    </div>
    <div class="row details">
      <div class="col-sm-6 col-xs-6 text-right">
        <div class="company">
          <h4>Über die Firma</h4>
          <p>Die Birchler Media ist eine GmbH mit Sitz in Einsiedeln, welche sich auf das digitalisieren von Medien spezialisiert hat.</p>
          <p>Durch unsere langjährige Erfahrung und optimale Infrastruktur sind wir in der Lage, Ihnen eine Top-Qualität zu fairen Preisen anzubieten.</p>

          <button class="btn btnFaq hidden-xs">Häufig gestellte Fragen</button>
        </div>
      </div>
      <div class="col-sm-6 col-xs-6">
        <div class="digi">
          <h4>Wie läuft die Digitalisierung ab?</h4>
          <p>Es ist ganz einfach.<br>Unter dem Button «PREISE» finden Sie das Bestellformular, welches Sie ausfüllen können. </p>
          <p>Sollten Sie weitere Fragen haben,<br>sind wir gerne für Sie da.</p>
        </div>
      </div>
    </div>
    <div class="row visible-xs">
      <div class="col-xs-12 text-center">
        <button class="btn btnFaq">Häufig gestellte Fragen</button>
      </div>
    </div>

    <!-- end of if -->

  </div>
</section>
