// It's encouraged to use these letiables instead of declaring new ones.
// http://getbootstrap.com/customize/#less-letiables
$brand-primary: #ec0044;
$brand-info: #6D95E9; // blue
$brand-success: #2D8A45; // green
$brand-warning: #FFD200; // orange
$brand-danger: #8b0000; // red

$secondary-color: gray;
// $primary-color: #ec0044;
