// Application layout
html {
  // height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  body {
    height: 100%;
    hyphens: auto;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    background-color: #12303e;
    color: #fff;
    font-size: 16px;
  }
}
