<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Dia-Scan,VHS,VHS-C,VIDEO8,HI8,miniDV,AUTO-Kassette,überspielen,retten">
    <meta name="description" content="Ihre alten Vidokassetten oder Dias Digital oder auf DVD">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/birchler.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/birchler.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
