// media query with width > 768px
@media screen and (min-width: 768px) {
  #header {
    padding-top: 3vw;

    .sale {
      right: 5vw;
      top: 5vw;
      // max-width: 15vw;
      position: absolute;
      background-image: url(booble.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 14vw;
      width: 26vw;
      p {
        font-size: 0.8em;
        padding: 0px 3.5vw;
      }
    }
    .backgroundImage {
      img {
        width: 100%;
      }
    }
    font-size: $font-size-helper;
    h1 {
      font-size: 2vw;
    }
    h4 {
      font-size: 1.5vw;
    }
    .intro {
      width: 44%;

      h1 {
        width: 70%;
        margin: auto;
      }
      h4 {
        margin-top: 2vw;
        margin-bottom: 2vw;
      }
    }
    .logo {
      text-align: left;
      margin-left: 8vw;
      margin-top: 3vw;
    }
    .introImage {
      padding-top: 2vw;
    }
  }


  #product {
    font-size: $font-size-helper;
    .productTable {
      .col-sm-4 {
        margin-bottom: 5vw;
      }
    }
    .productName {
      font-size: 1.5vw;
    }
    .productText {
      width: 2$font-size-helper;
      margin: 0.5vw auto;
    }
  }
  #info {
    .stickImg {
      margin-left: 40vw;
    }
    .company {
      display: inline-block;
      font-size: $font-size-helper;
      min-height: 29vw;
      h4 {
        font-size: 1.25vw;
      }
      p {
        color: #87ddf4;
      }
    }
    .digi {
      font-size: $font-size-helper;
      min-height: 29vw;
      h4 {
        font-size: 1.25vw;
      }
    }
    .btnQ {
      font-size: 1.5vw;
    }
    .backgroundFAQ {
      display: inline-block;
    }
    .Answers {
      font-size: 1.3vw;
    }
  }
  #team {
    padding-right: 8vw;
    padding-left: 8vw;
    font-size: $font-size-helper;
    padding-bottom: 10vw;
    .backgroundImageTeam {
      img {
        width: 100%;
      }
    }
    h1 {
      font-size: 2vw;
    }
    h3 {
     font-size: 1.5vw;
     font-weight: bold;
    }
    .teamdetails {
      min-height: 34vw;
    }
    .teamTable {
      padding-top: $font-size-helper;
      h3 {
        color: #12303e;
        text-align: center;
      }
      .teamDesc {
        color: #12303e;
      }
    }
  }
  #contact {
    padding: 8vw;
    padding-top: 4vw;
    iframe {
      height: 27vw;
    }
    .arrowUp {
      margin-top: -10vw;
      margin-bottom: 4vw;
      text-align: center;
      .arrowButton {
        img {
          width: 8%;
        }
      }
    }
    .btnImp {
      font-size: $font-size-helper;
      margin-left: -6vw;
    }
    .contactInfo {
      text-align: right;
      font-size: $font-size-helper;
      a {
        color: white;
      }
      h3 {
        font-size: 1.5vw;
      }
      h2 {
        font-size: 1.75vw;
      }
    }
  }
  #news {
    margin-top: 4vw;
    h1 {
      font-size: 2vw;
    }
    .newsContent {
      font-size: $font-size-helper;
    }
  }

  #details,
  #prices {
    .productImgDetail {
      width: 20vw;
    }

    .close {
      font-size: 4vw;
    }

    .pricesName {
      font-size: 1.6vw;
      margin-bottom: 2vw;
    }

    .pricesText {
      color: #87ddf4;
      max-width: 50vw;
      text-align: center;
      display: inline-block;
      font-size: $font-size-helper;
    }

    .modal-body {
      padding-bottom: 4vw;
    }

    .pricesContact {
      h2 {
        margin-top: 5vw;
        font-size: 1.75vw;
        color: #87ddf4;
      }
      p {
        font-size: $font-size-helper;
      }

      a {
        color: white;
      }
    }
  }
}

@media (min-width: 1200px) {
  .modal-lg {
      width: 85%;
  }
}
