#mainbody {
  background-color: #12303e;
}

a {
  color: black;
}

h1 {
  font-weight: bold;
}

$font-size-helper: 1.2vw;

.btn:hover {
  color: white;
}

.equalbot {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 30px);
}

.productImgDetail {
  margin: 0 auto;
  width: 50%;
  margin-top: 5vw;
}


.btnQ {
  width: 100%;
  background-color: #87ddf4;
  border-radius: 8px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border: none;
  color: #FFF;
  font-weight: 600;

  &:hover{
    color: #12303e;
    background-color: transparent;
  }

  &:focus, &:active {
    color: #12303e;
    background-color: transparent;
  }

  &.active {
    box-shadow: none;
    color: black;
  }
}



.btnDetails,
.btnPrice,
.btnFaq {
  font-size: $font-size-helper;
  border: 0;
  border-radius: 0.6vw;
  // margin-bottom: 0.5vw;
  margin-top: 0.7vw;
  padding: 0.3vw 0.8vw;
  text-transform: uppercase;
  font-weight: 600;
  color: #12303e;

  &:hover {
    color: white;
  }
}


.btnDetails {
  background-color: #87ddf4;
  &:hover {
    background-color: #87ddf4;
  }
}
.btnPrice, .btnFaq {
  background-color: #ffce65;
  &:hover {
    background-color: #ffce65;
  }
}




// header hbs
#header {
  text-align: center;
  // background-image: url(bg_skaliert.png);
  background-image: url(bild_hintergrund_oben.jpg);
  background-repeat: no-repeat;
  background-size: 100% 55vw;

  .logo{
    position: relative;
    img {
      height: auto;
    }
  }
  .arrowDown {
    margin: auto auto;
    margin-top: -4vw;

    .arrowButton {
      margin-left: -5vw;
      img {
        width: 5vw;
      }
    }
  }
  .introImage {
    padding-top: 22vw;
    img {
      width: 60%;
      height: auto;
    }

    .intro {
      height: auto;
      margin: 0px auto;
    }
  }
}

// product hbs
#product {
  text-align: center;

  .productTable {
    margin: 8vw;
    margin-bottom: 0px;
    .norImg {
      width: 55%;
      height: auto;

      &.larger {
        width: 77%;
      }
    }
    .Dia {
      width: 40%;
      height: auto;
    }
    .productText {
      color: #87ddf4;
      text-align: center;
    }
    .productName {
      margin-top: 2vw;
    }

  }
}

// info hbs
#info {
  .infoTable {
    .row {
      margin-right: 0px;
      margin-left: 0px;
    }
    .details {
      margin-bottom: 4vw;
    }
    .leftA {
      width: 7%;
      height: auto;
      float: right;
      margin-right: 2.5vw;
      margin-bottom: $font-size-helper;
    }
    .rightA {
      width: 7%;
      height: auto;
      float: left;
      margin-left: 2.5vw;
      margin-bottom: $font-size-helper;

    }
    .close {
      // float: right;
      font-size: 33px;
      font-weight: bold;
      line-height: 1;
      color: #fff;
      text-shadow: 0 1px 0 #fff;
      opacity: 1;
      margin-top: -2vw;
      margin-bottom: 2vw;
      margin-right: -2vw;
    }
    .stickImg {
      float: right;
      margin-right: 10vw;
      left: 50%;
      width: 15%;
      height: auto;
      transform: rotate(-55deg);
    }
    .discImg {
      height: auto;
      width: 29%;
      float: left;
      margin-left: 5vw;
    }
    .company {
      border-right: solid #FFF;
      margin-right: 4vw;
      padding: 4vw;
      text-align: right;
      width: 30vw;
    }
    .digi {
      border-left: solid #FFF;
      margin-left: 4vw;
      padding: 4vw;
      text-align: left;
      width: 30vw;
      p {
        color: #87ddf4;
      }
    }
    .arrowLeft {
      border-right: solid #FFF;
      margin-right: 4vw;
      padding: 4vw;
      text-align: right;
    }
    .arrowRight {
      border-left: solid #FFF;
      margin-left: 4vw;
      padding: 4vw;
      text-align: left;
    }
    .backgroundFAQ {
      margin-top: 2vw;
      padding: 5vw;
      background-color: #87ddf4;
      width: 100%;
      .Questions {
        background-color: #87ddf4;
      }
      .Answers {
        background-color: #87ddf4;
        color: #12303e;
        vertical-align: top;
        padding-right: 5vw;
        overflow-y: auto;
        max-height: 27vw;
      }
    }
  }
}


// team hbs
#team {
  text-align: center;
  h1 {
    color: #FFF;
  }
  text-align: center;
  background-image: url(bild_hintergrund_unten.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50vw;

  .teamTable {
    color: #12303e;
    img {
      height: auto;
      width: 90%;
    }
    .Mail {
      font-style: italic;
      color: #12303e;
    }
  }
}

// contact hbs
#contact {
  width: 100%;
  .mapInput {
    .arrowUp {
      .arrowButton {
        img {
          height: auto;
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
        }
      }
    }
    iframe {
       width: 100%;
       border: 0;
    }
    .btnImp {
      float: right;
      color: #87ddf4;
      border: none;
      display: inline-block;
      background-color: transparent;
    }
  }
}

// news hbs
#news {
  .newsContent {
    color: #87ddf4;
  }
}

#details, #prices {
  background-color: #12303e;
  background-image: url(bild_hintergrund_oben2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 20vw;

  .close {
    font-size: 4vw;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
  }
  // .backgroundSmall {
  //   background-image: url(bild_hintergrund_oben2.jpg);
  //   background-repeat: no-repeat;
  //   background-size: 100% 100%;
  // }
  .logoNeg {
    img {
      margin-top: 5vw;
      margin-left: 5vw;
      width: 27%;
      height: auto;
    }
  }
}

.impressum {
  color: #000;
}

.teal {
  color: #87ddf4;
}
