// media query with width <768px
@media screen and (max-width: 767px){
  #header {
    padding: 15px;

    .introImage {
      padding-top: 0px;
      img {
        width: 90%;
      }
    }

    .logo {
      width: 100%;
      img {
        float: none;
        width: 50vw;
      }
    }

    .sale {
      h1 {
        // font-size: 24px;
        font-size: 7vw;
        padding-top: 10px;
      }
      font-size: 4vw;
      margin-top: 40px;

      background-image: url(booble.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 46vw;
      // height: 14vw;
      // width: 26vw;
      p {
        padding: 0px 10.5vw;;
      }
      margin-bottom: 20px;
    }

    .arrowDown {
      .arrowButton {
        img {
          width: 12vw;
        }
      }
    }
    .intro {
      font-size: 16px;
    }
    h1 {
      font-size: 24px;
    }
    h4 {
      font-size: 18px;
      margin-bottom: 17px;
    }
  }
  .productTable {
    .col-xs-12 {
      text-align: center;
      margin-bottom: 40px;
    }
  }
  .productText {
    font-size: 16px;
    padding: 15px 40px 0px;
    margin-bottom: 10px;
  }
  #info {
    .infoTable {
      .company {
        font-size: 16px;
        width: 100%;
        margin-right: 0px;
        h4 {
          font-size: 18px;
        }
        p {
          color: #87ddf4;
        }
      }
      .arrowLeft {
        margin-right: 0px;
      }
      .arrowRight {
        margin-left: 0px;
      }
      .stickImg {
        width: 30%;
      }
      .rightA, .leftA {
        width: 25%;
      }
      .discImg {
        width: 50%;
      }
      .digi {
        width: 100%;
        font-size: 16px;
        margin-left: 0px;
        h4 {
          font-size: 18px;
        }
      }
      .btnQ {
        font-size: 16px;
      }

      .backgroundFAQ {
        .Answers {
          padding-top: 5vw;
          font-size: 16px;
          max-height: 53vw;
          .close {
            margin-top: -10vw;
          }
        }
      }
    }

  }
  #team {
    margin-top: 30px;
    .teamTable {
      h3 {
        font-size: 20px;
        color: #87ddf4;
        text-align: center;
      }
      .teamDesc {
        font-size: 16px;
        color: #87ddf4;
        padding: 0px 15px;
        margin-bottom: 10px;
      }
      .Mail {
        position: relative;
        margin-bottom: 20px;
        a {
          color: white;
        }
      }
    }
  }
  #contact {
    .mapInput {
      margin-left: 20px;
      iframe {
        height: 190px;
      }
      .arrowUp {
        text-align: center;
        margin-bottom: 20px;
        .arrowButton {
          img {
            width: 60px;
          }
        }
      }
      .contactInfo {
        font-size: 16px;
        h3 {
          font-size: 20px;
        }
        h2 {
          font-size: 22px;
        }

        a {
          color: white;
        }
      }
      .btnImp {
          margin-left: -85px;
          margin-bottom: 10px;
      }
    }
  }
  #news {
    margin-top: 4vw;

    h1 {
      font-size: 24px;
    }
    .newsContent {
      font-size: 16px;
    }
  }

  #details,
  #prices {
    .logoNeg {
      width: 50%;
      margin: auto auto;

      img {
        width: 100%;
        margin: auto auto;
      }
      margin-bottom: 40px;
      margin-top: 20px;
    }
    .close {
      font-size: 33px;
    }

    .pricesName {
      margin-top: 20px;
      margin-left: 0px;
      padding: 15px;
      font-size: 24px;
    }
    .pricesContact {
      a {
        color: white;
      }
      h2 {
       font-size: 22px;
       color: #87ddf4;
      }
      p {
       font-size: 16px;
      }
    }

    .pricesText {
      color: #87ddf4;
      text-align: center;
      display: inline-block;
    }
  }
}

.btnDetails,
.btnPrice,
.btnFaq {
  font-size: 16px;
  margin-bottom: 10px;
}
