{{outlet}}
{{!-- {{simple-mde-preview (get (get-element 11) 'textcontent')}} --}}
{{!-- <button type="button" class="btn btn-default-norm" {{action 'windowopen' (get (get-element 73) 'filepath')}}>TERMINE</button> --}}


{{!-- <div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    Test content:
    <br>
    {{simple-mde-preview (get (get-element 96) 'textcontent')}}
  </div>
</div>

<br>
<br>
<br>


<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    Img
    <img src="assets/{{get (get-element 97) 'filepath'}}" width="100%">
  </div>
</div> --}}

{{!-- {{impressum-modal theclass="btn btn-default" thecontent=(simple-mde-preview (get (get-element 38) 'textcontent'))}} --}}
